.cardsContainer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    grid-row-gap: 2rem;
    padding: 0 2rem;    
}

.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.homeContainer h1{
    width: 40%;
    font-size: 60px;
    text-align: center;
    color: var( --color-heading);
    margin: 2rem;
}

.btnAdd{
    display: none;
}