.searchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.searchBar{
    display: flex;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.searchInput{
    background-color: #D7D4D4;
    border-radius: 20px;
    border: none;
}

.searchBar button{
    color: white;
    font-weight: 600;
}